{% extends "base.html" %}
{% load static  %}

{% block title %}
  This post title
{% endblock %}

{% block css_files %}
  <link rel="stylesheet" href="{% static 'blog/index.css' %}">
{% endblock %}

{% block content %}
  <section id="summary">
    <h2>Post Title</h2>
    <article>
      <img src="{% static "blog/images/mountains.jpg" %}" alt="Post Title" />
      <address>By Bruno</address>
      <div>
        Last updated on <time>July 10th</time>
      </div>
    </article>
  </section>

  <main>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur quo dolorum facere totam ea sunt dignissimos cum facilis deleniti, iusto laboriosam labore! Rerum in ratione dolores, nam ducimus enim necessitatibus!</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur quo dolorum facere totam ea sunt dignissimos cum facilis deleniti, iusto laboriosam labore! Rerum in ratione dolores, nam ducimus enim necessitatibus!</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur quo dolorum facere totam ea sunt dignissimos cum facilis deleniti, iusto laboriosam labore! Rerum in ratione dolores, nam ducimus enim necessitatibus!</p>
  </main>
{% endblock %}