{% load static %}

<li>
  <article class="post">
    <img src="{% static 'blog/images/mountains.jpg' %}" alt="Mountain Hiking" style="width: 250px;">
    <div class="post__content">
      <h3>Mountain Hiking</h3>
      <p style="font-style: none;">
        There's nothing like the views you get when hiking in the mountains! 
        And I wasn't even prepared for what happened whilst I was enjoying the view!
      </p>
    <a href="{% url "post-detail-page" "the-mountains" %}">See post</a>
    </div>
  </article>
</li>